body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "PT Sans", sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  margin:0
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.board {
  clear: both;
  float: none;
  overflow: hidden;
}

.board .col {
  float:left;
  width:33.000012313133%;
  height: 120px;
  border: 1px solid #eee;
  border-left:none;
  cursor: pointer;
  color:#fff;
  font-size:90px;
  background: #000;
}
.board .col:nth-child(3n+1) {
  border-left: 1px solid #aaa;
}

.btn {
  cursor: pointer;
  padding:10px 30px;
  background: #fff;
  border:none;
  color:#000;
  font-size: 16px;
  margin-top:15px;
  border-radius: 5px;
}

.feedback {
  color: #000;
  font-size: 16px;
}
